---
import Ubication from "../common/Ubication.astro";
import ContactForm from "../common/ContactForm.astro";
---

<main id="contact">
    <Ubication />
    <ContactForm />
</main>
<style>
    #contact {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 4.5rem 10% 2rem 10%;
        position: relative;
        overflow: hidden;
        background: var(--dark-color);
        gap: 1rem;
    }
    @media screen and (max-width: 700px){
        #contact{
            height: auto;
            width: 100%;
            padding: 1.5rem .2rem 4rem .2rem;
            flex-direction: column-reverse;
            z-index: 10;
        }
    }
</style>