<main id="details">
    <div id="details-content">
        <h3>Seis razones para elegirnos:</h3>
        <ul>
            <li>Somos especialistas en la creación de páginas de alto rendimiento.</li>
            <li>Webs optimizadas para motores de búsqueda.</li>
            <li>Garantizamos que su presencia en línea se destaque.</li>
            <li>Proceso simplificado para ofrecer un diseño profesional.</li>
            <li>En tan solo 10 días podrás ver resultados.</li>
            <li>Un precio inmejorable de sólo $100USD.</li>
        </ul>
        <a href="https://wa.me/573057197012?text=¡Hola!%20Estoy%20interesado%20en%20crear%20una%20Landing%20con%20ustedes" target="_blank" class="hero-button now">¡Empieza hoy mismo!</a>
    </div>
</main>
<style>
    #details {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        position: relative;
        gap: 3rem;
        background: var(--black-color);
        background-image: url('/img/details-pc.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #details-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 2rem;
        background: rgba(22, 16, 31, 0.7);
        border-radius: 1rem;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3px );
        -webkit-backdrop-filter: blur( 3px );
        padding: 2rem;
    }
    #details-content h3{
        font-size: 1.8rem;
        text-align: center;
    }
    #details-content ul{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: .5rem;
    }
    #details-content ul li{
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        padding: 1rem;
        border-radius: 1rem;
        width: 35rem;
        height: 5rem;
        text-align: center;
        background: rgba(77, 60, 102, 0.7);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .hero-button{
        text-align: center;
        width: 18rem;
        height: 3.5rem;
        padding: 1rem;
        border-radius: 1rem;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 0 .5rem 2rem 0 rgba( 31, 38, 135, 0.37 );
    }
    .hero-button.now{
        color: var(--dark-color);
        background: var(--orange-color);
        outline: var(--orange-color) .3rem solid;
    }
    .hero-button.now:hover{
        background: transparent;
        color: #fdb74d;
        outline: var(--orange-color) .3rem solid;
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 2rem 0 rgba( 51, 78, 185, 0.7 );
    }
    @media screen and (max-width: 700px){
        #details{
            height: 100dvh;
            width: 100%;
            padding: .2rem;
            z-index: 10;
        }
        #details-content h3{
            font-size: 1.2rem;
        }
        #details-content ul li{
            font-size: 1rem;
            width: 100%;
        }
    }
</style>