<main id="services">
    <section class="grid-services">
        <article id="landing-service" class="service-card service1">
            <h3>Landing</h3>
            <div>Ideales para aumentar ganancias, una landing cautivadora es la clave para convertir a visitantes curiosos en clientes leales y elevar al máximo el éxito de su negocio.</div>
            <ul>
                <li>Súper alto rendimiento</li>
                <li>Otimización para SEO</li>
                <li>Diseño profesional</li>
                <li>Presencia en Línea</li>
                <li>Boton para comunicarse (whatsapp, telegram u otro)</li>
                <li>10 días de construcción y despliegue</li>
                <li>Un año de soporte y actualizaciones incluido</li>
            </ul>
            <div class="price">$450.000 COP</div>
            <a class="button now-land" href="https://wa.me/573057197012?text=¡Hola!%20Estoy%20interesado%20en%20crear%20una%20Landing%20con%20ustedes" target="_blank">¡Comienza Ahora!</a>
        </article>
        <article class="service-card service2">
            <h3>E-Commerce</h3>
            <div>Convierte tus ideas en una realidad exitosa con nuestros servicios de desarrollo de e-commerce. ¡Juntos construiremos el futuro de tu tienda en línea!</div>
            <ul>
                <li>Integración con Pasarelas de Pago</li>
                <li>Automatización de procesos de ventas</li>
                <li>Back-office para gestión de la tienda</li>
            </ul>
            <div class="price price2">Desde $1'950.000 COP</div>
            <a class="button others" href="https://wa.me/573057197012?text=¡Hola!%20Estoy%20interesado%20en%20crear%20un%20E-Commerce%20con%20ustedes" target="_blank">Obtén toda la Información</a>
        </article>
        <article class="service-card service3">
            <h3>Software a la Medida</h3>
            <div>Transforma tus desafíos en soluciones digitales únicas. Únete a nosotros y co-creemos el software personalizado que impulsará tu negocio hacia el éxito. Tu visión, nuestra experiencia, una asociación imparable en el mundo digital. <br/> ¿Listo para dar el primer paso hacia la innovación?</div>
            <a class="button others" href="https://wa.me/573057197012?text=¡Hola!%20Necesito%20un%20software%20a%20la%20medida" target="_blank">Contacta con un agente</a>
        </article>
    </section>
</main>
<style>
    #services{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 2rem 10%;
        padding: 7rem 10% 4.5rem 10%;
        position: relative;
        overflow: hidden;
        background: var(--ligth-color);
        color: var(--dark-color);
    }
    .grid-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    .service-card {
        text-align: center;
        padding: 1.2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.3rem;
        gap: 1.2rem;
        line-height: 1.5rem;
        background: var(--dark-color);
        color: var(--ligth-color);
    }
    #landing-service{
        background-image: url('/img/rsz_back-trama.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: var(--ligth-color);
        box-shadow: 0 0 2rem 0 rgba( 31, 38, 135, 0.37 );
    }
    .service-card h3{
        font-size: 2.2rem;
        line-height: 2.2rem;
    }
    .price{
        font-size: 1.8rem;
        padding: 1rem;
        box-shadow: 0 0 1rem 0 var(--dark-color);
        width: 80%;
        border-radius: .5rem;
    }
    .price2{
        
        box-shadow: 0 0 1rem 0 var(--ligth-color);
    }
    .button{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 1rem;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
        border: .2rem solid transparent;
    }
    .button:hover{
        transform: translateY(-.2rem);
        box-shadow: 0 .5rem 2rem 0 rgba( 51, 78, 185, 0.7 );
    }
    .now-land{
        background: var(--orange-color);
        color: var(--dark-color);
    }
    .now-land:hover{
        border: var(--orange-color) solid 0.2rem;
        background: var(--dark-color);
        color: var(--orange-color);
    }
    .others{
        background: var(--ligth-color);
        color: var(--dark-color);
    }
    .others:hover{
        border: var(--ligth-color) solid 0.2rem;
        background: var(--purple-color);
        color: var(--ligth-color);
    }
    .service1 { 
        grid-area: 1 / 1 / 3 / 2;
        height: 100%;
        width: 100%;
        outline: solid 1px #fff;
    }
    .service2 { 
        grid-area: 1 / 2 / 2 / 3; 
        height: 100%;
        width: 100%;
        outline: solid 1px #fff;
    }
    .service3 { 
        grid-area: 2 / 2 / 3 / 3; 
        height: 100%;
        width: 100%;
        outline: solid 1px #fff;
    }
    @media screen and (max-width: 700px){
        #services{
            padding: 1.5rem .2rem 5rem .2rem;
            height: auto;
            z-index: 10;
        }
        .grid-services{
            display: flex;
            flex-direction: column;
        }
    }
</style>