---
import MemberCard from "../common/MemberCard.astro"
---

<main id="team">
    <section class="about">
        <h2>¿Quienes somos?</h2>
        <p>
            ¡Hola! Somos <span>gorigami</span>, y estamos aquí para darle vida a tus ideas. 
            <br/>Apasionados creadores y pensadores de Bogotá, Colombia, obsesionados con la innovación, la creatividad y el liderazgo. 
            <br/>¿Necesitas una web que deje a todos boquiabiertos? 
            <br/>¿Un aplicativo a medida que sea la solución perfecta? 
            <br/>¿O quizás una orientación experta en arquitectura de software? 
            <br/>Estamos listos para doblar las reglas y hacer que tus proyectos cobren vida.
        </p>
    </section>
    <section class="the-team">
        <!-- <h2>Nuestro Equipo</h2> -->
        <div class="members">
            <MemberCard 
                imgUrl="/img/DaveTra.png"
                name="David Barbosa"
                description="Transforma ideas en experiencias digitales con maestría."
                role="FullStack developer"
            />
            <MemberCard 
                imgUrl="/img/NicoTra.png"
                name="Nicolas Balaguera"
                description="Construye la base sólida de tu proyecto con un backend de nivel experto."
                role="Data Engineer & Backend Developer"
            />
            <MemberCard 
                imgUrl="/img/JennTra.png"
                name="Jennifer Concha"
                description="Diseña el futuro con creatividad, elegancia y pasión."
                role="Designer & Marketing Leader"
            />
        </div>
    </section>

    <p class="tag-team">Creando innovación, desarrollando la creatividad, empoderando a los humanos</p>

</main>
<style>
    #team {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 7rem 10% 3.5rem 10%;
        position: relative;
        background: var(--dark-color);
        overflow: hidden;
        gap: 1.5rem;
    }
    #team h2{
        font-size: 2.2rem;

    }
    .about{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        text-align: left;
    }
    .about>p{
        font-size: 1.3rem;
    }
    .about span{
        font-family: var(--primary-font);
        font-size: 1.5rem;
        color: var(--orange-color);
    }
    .the-team{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .members{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        overflow: auto;
    }
    .tag-team{
        font-family: var(--primary-font);
        font-size: 1.8rem;
        opacity: .7;
        width: 100%;
        position: absolute;
        margin: 0 1rem;
        bottom:0; 
    }
    @media screen and (max-width: 700px){
        #team{
            height: 100%;
            padding: 1rem;
            flex-direction: column;
            z-index: 10;
        }
        .about{
        width: 100%;
        text-align: center;
        }
        .tag-team{
            position: relative;
        }
    }
</style>