---
import FacebookIcon from "../icons/facebook.astro";
import InstagramIcon from "../icons/instagram.astro";
import GithubIcon from "../icons/github.astro";
import EmailIcon from "../icons/email.astro";
import WhatsappIcon from "../icons/whatsapp.astro";
---
<section id="ubication">
    <div class="details-ubication">
        <h4>Bogotá, CO</h4>
        <a href="https://wa.me/573057197012?text=¡Hola!%20Estoy%20interesado%20en%20conocer%20mas%20de%20ustedes" target="_blank">
            <h4><WhatsappIcon />(+57) 305 7197012</h4>
        </a>
    </div>
    <div class="social-links">
        <a href="https://www.facebook.com/gorigamidev" target="_blank">
            <FacebookIcon />
        </a>
        <a href="https://www.instagram.com/gorigami.xyz" target="_blank">
            <InstagramIcon />
        </a>
        <a href="https://github.com/gorigamidev" target="_blank">
            <GithubIcon />
        </a>
        <a href="mailto:info@gorigami.xyz" target="_blank">
            <EmailIcon />
        </a>
    </div>
</section>
<style>
    #ubication{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0 1rem;
        margin-top: 1rem;
        width: 20%;
        min-width: 24rem;
        height: 100%;
    }
    .social-links>a{
        color: var(--ligth-color);
        text-decoration: none;
    }
    .social-links>a:hover{
        color: var(--orange-color);
    }
    .details-ubication {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: end;
        background-image: url('/img/Bogota-COL.png');
        background-size: cover;
        height: 18rem;
        width: 18rem;
        border-radius: 1rem 50% 1rem 1rem;
        padding: 1rem;
        margin: 1rem;
        color: var(--dark-color);
    }
    .details-ubication>a{
        text-decoration: none;
    }
    .details-ubication h4{
        color: var(--dark-color);
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: start;
        font-size: 1.5rem;
        font-weight: bolder;
    }
    .details-ubication .icons{
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
    }
    .social-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 1rem;
    }
</style>